<! Calling item from database >

<% @db.exec(@item) do |result| %>
  <% result.each do |row| %>
    <h1><%= row['task'].capitalize %></h1>
    <ul>
      <li>Description: <%= row['description'] %></li>
      <li>Do by: <%= row['do_by'] %></li>
      <! Cannot use row.['done'] for if statement - not sure why >
      <li>Done: <% if row.values[4] == true %>
                  <%= "yes" %>
                <% else %>
                  <%= "no" %>
                <% end %></li>
    </ul>
  <% end %>
<% end %>

<form action="/delete_todo/<%= @id %>" method="post">
  <button>Delete item</button><br><br>
</form>