<h2>Family To Do List</h2>

<table>
  <thead>
    <td><strong>Responsible Person</strong></td>
    <td><strong>Task Details</strong></td>
    <td><strong>Status</strong></td>
  </thead>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task['person'] %></td>
      <td><a href="todo/<%= task['id'] %>"><%= task['task'] %></a></td>
      <td>
        <% if task['completed'] == 'f' %>
          <%= "Not Completed" %>
        <% else %>
          <%= "Completed" %>
        <% end %>
      </td>
      <td>
        <form action="/todo/<%= task['id'] %>/update_status" method="post">
          <button>Done!</button>
        </form>
      </td>
    </tr>
  <% end %>
<table>

<a href="/create_todo"><button>Create Task</button></a>