<h1>Details of <%= @todo['activity'].upcase %></h1>

  <% @todo.each do |id| %>
    <%= @todo['start_time'] %>
    <%= @todo['end_time'] %>
    <%= @todo['location'] %>
    <%= @todo['contact_name'] %>
    <%= @todo['contact_phone'] %>
      <p><%= @todo[:start_time] %></a></p>
<% end %>
</br>
</br>

<a href="/">Home</a></br>
<a href="/todos">To Do List</a>


