<h1><%= @todos['task_name']%></h1>

<p><%= @todos['task_description']%></p>
<p><% if @todos['completed'] == true %>
    <%= puts "The Task is Finished!" %>
    <%else %>
    <%= puts "Still Needs More Work!" %></p>
    <%end%>

  <form action "/<%= @todos['id']%>" method="post"></form>