<h3>Task <%= @task['id'] %></h3>

<p>Responsbile Person: <%= @task['person'] %></p>
<p>Task: <%= @task['task'] %></p>
<p>Priority: <%= @task['priority'] %></p>
<p>Completed? <%= @task['completed'] %></p>

<a href="<%= @task['id'] %>/edit"><button class="btn btn-warning">Edit</button></a>

<form action="/todo/<%= @task['id'] %>/delete" method="post">
  <button class="btn btn-warning">Delete</button>
</form>

<a href="/"><button class="btn btn-warning">Back</button></a>