<h1><%= @todo['task_name']%></h1>

<p><%= @todo['task_description']%></p>
<p><% if @todo['completed'] == true %>
    <%= puts "The Task is Finished!" %>
    <%else %>
    <%= puts "Still Needs More Work!" %></p>
    <%end%>

  <form action "/<%= @todo['id']%>" method="post"></form>