<h1><%= @todo['name'] %></h1>

<strong>Description:</strong>
<%= @todo['description'] %><br />
<strong>Due Date:</strong>
<%= @todo['date'] %><br />


<p></p>

<a href="/todo/<%= @todo['id'] %>/edit">Edit this task.</a>   <br />
<p></p>
  <% if @todo['completed'] == 'f' || '' %>
       <form action = "/complete" method = "post">
         <input type="hidden" name="id" value="<%= @todo['id'] %>">
         <button>Mark task as completed</button>
       </form>
  <% end %>
<br />

<form action = '/delete' method = "post" >
  <input type="hidden" name = "id" value= "<%= @todo['id'] %>" />
  <button>Delete this task</button>
</form>

<p><a href="/">Back to to-do list</a></p>